.place__description {
  background-color: #f2f2f2;
  padding: 45px 15px 95px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .place__description {
    padding: 45px 15px 60px 40px;
  }
}
@media screen and (max-width: 568px) {
  .place__description {
    text-align: center;
  }
}
