.navbar {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 35px;
    font-family: 'Circe', Arial, Helvetica;
    font-style: normal;
  }

@media screen and (max-width: 984px) {
    .navbar{
      opacity: 0;
      position: relative;
      z-index: -1;
    }
  }
