.footer__copyright {
  display: flex;
  align-items: center;
  height: 120px;
  position: absolute;
  left: 47.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    max-width: 100%;
    overflow: hidden;
  }
}
