.footer__year {
  margin: 0;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  font-family: Tahoma;
  font-weight: 900;
  font-size: 7rem;
  color: #333;
  transform: translateX(100%);
  transition: transform 0.6s ease-out 0.1s;
}
