.quotes__cell_active:nth-of-type(1) {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}

.quotes__cell_active:nth-of-type(2) {
  opacity: 1;
  transition: all 4s;
  transform: translateY(0%);
}

.quotes__cell_active:nth-of-type(3) {
  opacity: 1;
  transition: all 6s;
  transform: translateY(0%);
}

.quotes__cell_active:nth-of-type(4) {
  opacity: 1;
  transition: all 8s;
  transform: translateY(0%);
}
