.description__subtitle {
  margin: 0 0 20px 0;
  color: #fed7b9;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
}

@media screen and (max-width: 800px) {
  .description__subtitle {
    text-align: center;
  }
}
