.quotes__table {
  margin: 130px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 900px) {
  .quotes__table {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 568px) {
  .quotes__table {
    grid-template-columns: 1fr;
    margin-top: 65px;
  }
}
